button.scroll-to-top.custome-back-top {
    width: 35px;
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 15px;
    bottom: 15px;
    background: #fffffffa;
}